<table id="activity" class="table table-zebra-striped table-bordered">
  <caption class="sr-only">Activity of users you follow</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title1</td>
      <td>URL1</td>
      <td>Description1</td>
    </tr>
    <tr>
      <td>Title2</td>
      <td>URL2</td>
      <td>Description2</td>
    </tr>
    <tr>
      <td>Title2</td>
      <td>URL2</td>
      <td>Description2</td>
    </tr>
  </tbody>
</table>
